/* #app {
   display: flex;
   justify-content: center;
   align-items: center;
} */

*,::after,::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

*:hover,:focus {
   transition: 250ms;
}

#root {
   height: 100vh;
   width: 100%;
   
   background-color: #ecffec;

   display: flex;
   /* align-items: center; */
   justify-content: center;
}

.todo {
   /* border: 1px solid red; */
   border-radius: 15px;
   padding: 120px 240px;

   width: 70%;

   /* display: flex;
   justify-content: space-between; */
}

.todo-title {
   text-transform: uppercase;
   font-family: sans-serif;
   text-align: center;
   color:#808080;

   margin-bottom: 45px;
}

.todo-item {
   margin-bottom: 20px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.todo-input {
   padding: 10px 20px;
   margin-right: 15px;
   width: 400px;

   font-size: 18px;
   border: none;
   border-radius: 5px;
}

*:focus {
   outline: none;
   box-shadow: 0 0 2px 1px #F3D4FF;
}

.todo-enter-button {
   padding: 10px 20px;
   font-size: 18px;

   background-color: #e9e9e9;
   border: none;
   border-radius: 5px;

   cursor: pointer;
}

.todo-enter-button:hover {
   background: #ececec;
}

.todo ol {
   position: relative;
   top: 20px;
   left: 20px;
}

.todo-remove-button {
   margin-left: 10px;
   padding: 5px 10px;
}